   ::selection {
        background-color: #2f0733;
        color: white;
      }
    /* @media (prefers-color-scheme: light) {
        body {
            background-image: linear-gradient(181deg, #fdfdfd, #b8bcc0, #ffffff) !important;
        }
        .listening2 {
            color: rgb(0, 0, 0) !important;
            font-size: 2rem;
          }
          .listening {
            color: rgb(5, 5, 5) !important;
            font-size: 1rem;
          }
          .bar{
            background-color: #090d19 !important;
          }
          .response_wrapper{
            border: 4px solid #0C2971 !important;
          }
    } */
    .change-background{
        background-image: linear-gradient(181deg, #fdfdfd, #b8bcc0, #ffffff) !important;
    }
    .change-color{
        color: #000 !important;
    }
    .bars_dark{
        background-color: #090d19 !important;
    }
    .change-border{
        border: 4px solid #0C2971 !important;
    }
  
      body {
        font-family: Arial, sans-serif;
        font-family: "Poppins", Arial, sans-serif !important;
        text-align: center;
        background-color: #f0f0f0;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        background-image: linear-gradient(181deg, #090d19, #357bc8, #0b1120);
        align-items: center;
        justify-content: center;
        min-height: 100vh;
      }

      h1 {
        font-size: 2rem;
        margin-bottom: 20px;
        color: #333;
      }

       .logo_round {
        width: 150px;
        height: 150px;
        /* background: #0c2971; */
        border-radius: 50%;
        margin: 20px auto;
        display: flex;
        justify-content: center;
        align-items: center;
        /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
        transition: transform 0.3s ease;
        cursor: pointer;
        animation: pulse 1.5s infinite alternate;
      }
.microphone{
    max-width: 40px;
    border-radius: 50%;
    margin-right: 4px;
}
      .microphone img {
        width: 87%;
        /* height: 60%; */
        border-radius: 50%;
      }
      .logo_round img {
        width: 87%;
        /* height: 60%; */
        border-radius: 50%;
      }

      .sound-wave {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
      }

      .bar {
        width: 10px;
        height: 20%;
        background-color: #ffffff;
        margin: 0 2px;
        border-radius: 5px;
        animation: soundWave 1.5s infinite alternate;
      }
      .sections_wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100vw;
        align-items: center;
        justify-content: center;
      }
      .header {
        margin-top: 20px;
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        flex-direction: column;
        /* width: 50%; */
        background-color: rgba(245, 222, 179, 0);
z-index: -20;
        /* align-items: center; */
        /* justify-content: space-evenly; */
      }
      .left_wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 50%;
      }
      .right_wrapper {
        display: flex;
        background-color: rgba(255, 255, 255, 0);
        height: 86vh;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 46%;
        border-radius: 12px;
      }
      .pete_image {
        width: 100%;
        max-width: 200px;
        margin-top: 20px;
      }
      .response_footer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-top: 20px;
      }

      @keyframes soundWave {
        0%,
        100% {
          height: 20%;
        }
        50% {
          height: 80%;
        }
      }

      @keyframes pulse {
        0% {
          transform: scale(1);
        }
        100% {
          transform: scale(1.1);
        }
      }

      .message-input {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
      }

      .message-input input[type="text"] {
        padding: 10px;
        border: none;
        border-radius: 5px;
        margin-right: 10px;
        width: 300px;
        font-size: 1rem;
      }
      .message-input {
        transition: all 0.2s ease-in-out;
      }
      .message-input:hover {
        transform: translateY(-3px);
      }
      .message-input button {
        padding: 10px 20px;
        font-family: "Poppins", Arial, sans-serif !important;
        background-image: linear-gradient(135deg, rgb(28, 0, 128), blue);
        color: white;
        border: none;
        border-radius: 5px;
        font-weight: 700;
        cursor: pointer;
        font-size: 1rem;
        transition: all 0.2s ease-in-out;
      }

      .message-input button:hover {
        background-image: linear-gradient(
          135deg,
          rgba(128, 0, 128, 0.822),
          rgba(0, 0, 255, 0.849)
        );
        transform: translateX(3px);
      }

      .response_wrapper {
        width: 100%;
        /* border-radius: 12px; */
        border-radius: 6px;
        border: 15px solid #0C2971;
        place-self: center;
        /* background-color: green; */
        align-self: center;
        display: flex;
        justify-content: space-evenly;
        padding-bottom: 20px;
        overflow: hidden;
        align-items: center;
        flex-direction: column;
        /* background-image:linear-gradient(50deg, #1c294e, #2b93ff, #0c2971); */
        background-color: rgb(255, 255, 255);
        color: rgb(0, 0, 0) !important;
      }
      #responseContainer {
        height: 60vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        border-radius: 12px;
color: rgb(0, 0, 0) !important;
        overflow-y: scroll;
        scrollbar-width: none;
        background-color: rgba(231, 222, 222, 0);
        margin: 10px;
      }
      #messageInput:focus {
        border: 3px solid;
        border-image: linear-gradient(135deg, #ffaa55, #0056b3);
        border-image-slice: 1;

        outline: none;
      }
      #responseContainer img {
        max-width: 100%;
        height: auto;
        border-radius: 8px;
        margin-top: 10px;
      }

      #responseContainer p {
        font-size: 1.2rem;
        margin-bottom: 10px;
        color:rgb(0, 0, 0);
      }

      #clearButton {
        margin-top: 20px;
        padding: 10px 20px;
        background-color: #fff;

        color: #0c2971;

        font-weight: bold;
        font-family: "Poppins", Arial, sans-serif !important;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 1rem;
        transition: background-color 0.3s;
        color: #fff;
        background-color: #0c2971;
    }
    
    #clearButton:hover {
        background-color: #0c2971dc;
    }

      @media (max-width: 600px) {
        /* .message-input input[type="text"] {
          width: 100%;
        } */
        body{
            padding-bottom: 50px;
        }
        .left_wrapper {
          width: 100%;
        }
        .pete_image {
          width: 100%;
          max-width: 200px;
          margin-top: 20px;
        }
        .message-input {
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 10px;
        }
        .message-input button {
          padding: 10px 15px;
        }
        .sections_wrapper {
          flex-direction: column;
        }
        .right_wrapper {
          width: 90%;
        }
      }
      .logo_image {
        max-width: 150px;
        width: 100%;
        transition: transform 0.3s ease-in-out;
      }

      .logo_image:hover {
        transform: translateY(-5px);
      }
      .pete_image {
      
        transition: transform 0.3s ease-in-out;
      }

      .pete_image:hover {
        transform: translateY(-5px);
      }

      .bgimage {
        /* background-image: url("https://images.pexels.com/photos/35016/soap-bubble-colorful-ball-soapy-water.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top; */
    
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        z-index: -1;
      }
      .bgimage_overlay {
        /* background-image: ("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32' fill='none' stroke='rgb(148 163 184 / 0.05)'%3e%3cpath d='M0 .5H31.5V32'/%3e%3c/svg%3e"); */
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top;
        background-color: rgba(17, 16, 16, 0.5);
        position: absolute;
        top: 0;
        left: 0;
        
        width: 100%;
        height: 100%;
        opacity: 0.2;
        z-index: -1;
      }
      .listening2 {
        color: white;
        font-size: 2rem;
      }
      .listening {
        color: white;
        font-size: 1rem;
      }
      .lisne{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        /* width: 100%; */
      }